/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	--color-background2:rgb(248, 240, 229);
	--color-background3:rgb(50, 70, 47);
	--color-background4: rgb(97, 56, 28);
 	--color-text1: rgb(95, 70, 51);
	--color-text3: rgb(255, 255, 255);

}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}

h1, h2 {
	text-align: center;
	font-family: 'Arial Black', sans-serif;
	font-size: 1.5em;
}

p {
	font-size: 1em;
	text-align: center;
}
article {
	padding: 1.6rem;
	background-color: var(--color-background2);
}

article:nth-of-type(3), article:nth-of-type(5) {
	padding: 1.6rem;
	background-color: var(--color-background3);
	color: var(--color-text3);
}

article:nth-of-type(4) {
	padding: 1.6rem;
	background-color: var(--color-background4);
	color: var(--color-text3);
}

article a {
  display: block;
  width: fit-content;   /* zodat de link niet 100% breed wordt */
  margin: 0 auto;       /* horizontaal centreren */
  padding: 0.6em 1.4em;
  border-radius: 10em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  font-family: sans-serif;
}
article a:nth-of-type(1) {
	background-color: var(--color-background3);
  	color: #fff;
  	border: 2px solid var(--color-background3);
}

article a:nth-of-type(2) {
	background-color: white;
  	color: #fff;
  	border: 2px solid var(--color-background3);
}


a:hover {
  background-color: #006241;
  border-color: #006241;
}


body {
	background-color: var(--color-background);
	color: var(--color-text);
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
}